body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif; }

.header {
  width: 100%;
  height: 87px;
  background: #4c98a4;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header-content {
    height: 100%;
    width: 1024px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 54px; }
    @media screen and (max-width: 1024px) {
      .header-content {
        width: 100%; } }
    @media screen and (max-width: 780px) {
      .header-content {
        flex-direction: row-reverse;
        padding: 0 11px; } }
    @media screen and (max-width: 320px) {
      .header-content {
        padding: 0 100px; } }
    .header-content-links {
      width: 463px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media screen and (max-width: 780px) {
        .header-content-links {
          display: none; } }
      .header-content-links .header-item {
        text-transform: uppercase;
        font-size: 18px;
        color: white;
        cursor: pointer; }
        .header-content-links .header-item:hover {
          text-decoration: underline; }
    .header-content__check:checked + .header-content__menu > .header-content__menu-line {
      background-color: transparent; }
      .header-content__check:checked + .header-content__menu > .header-content__menu-line::after {
        transform: rotate(-45deg);
        top: 2px; }
      .header-content__check:checked + .header-content__menu > .header-content__menu-line::before {
        transform: rotate(45deg);
        top: 2px; }
    .header-content__check:checked ~ .menu {
      width: 100%;
      height: 100vh;
      opacity: 1; }
    .header-content__check {
      display: none; }
    .header-content__menu {
      height: 60px;
      width: 60px;
      border: 2px solid white;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      display: none;
      position: relative;
      z-index: 2; }
      @media screen and (max-width: 780px) {
        .header-content__menu {
          display: flex;
          flex-direction: row-reverse; } }
      .header-content__menu-line {
        width: 50px;
        height: 3px;
        background-color: white;
        position: relative;
        transition: .4s; }
        .header-content__menu-line::after {
          content: '';
          width: 50px;
          height: 3px;
          background-color: white;
          position: absolute;
          left: 0;
          top: 13px;
          transition: .4s; }
        .header-content__menu-line::before {
          content: '';
          width: 50px;
          height: 3px;
          background-color: white;
          position: absolute;
          left: 0;
          top: -13px;
          transition: .4s; }
    .header-content .menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      background: #4c98a4;
      background: linear-gradient(45deg, #4c98a4 0%, #00d089 100%);
      z-index: 1;
      transition: 0.1s;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header-content .menu__content {
        width: 14rem; }
        .header-content .menu__content__item {
          font-size: 2rem;
          color: white;
          border: 1px solid transparent;
          border-left: 1px solid white;
          padding: .6rem;
          width: 0;
          cursor: pointer;
          margin-bottom: 2rem;
          white-space: nowrap; }
          .header-content .menu__content__item:hover {
            width: 7rem;
            border: 1px solid white;
            border-left: 1px solid white; }

.banner {
  width: 100%;
  height: 475px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  position: relative; }
  .banner-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-bottom: 42px; }
  .banner-button {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    width: 240px;
    height: 54px;
    transition: .4s; }
    .banner-button:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .banner .dots {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 2.5rem); }
    .banner .dots__item {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background: white;
      cursor: pointer; }
      .banner .dots__item_active {
        background: #69728c; }

.things {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5.25rem 0 5rem 0;
  box-sizing: border-box; }
  .things__title {
    font-size: 1.875rem;
    color: black;
    margin-bottom: 2.44rem;
    text-align: center; }
  .things__text {
    font-size: 0.875rem;
    color: black;
    margin-bottom: 4.44rem;
    text-align: center; }
  .things__icons {
    width: 25.94rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 420px) {
      .things__icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around; } }

.about {
  width: 100%;
  background: #00d089;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5.87rem 0;
  box-sizing: border-box; }
  .about__text {
    font-size: 1.13rem;
    color: white;
    width: 56.25rem; }
    @media screen and (max-width: 920px) {
      .about__text {
        width: 100%;
        padding: 5px;
        box-sizing: border-box; } }

.card {
  width: 17.87rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3.75rem; }
  .card__name {
    text-transform: uppercase;
    font-size: 1.63rem;
    color: white;
    padding-top: .8rem;
    font-weight: bold;
    position: relative; }
    .card__name::after {
      content: "\201D";
      position: absolute;
      top: -1.2rem;
      left: -1rem;
      font-size: 17rem;
      color: rgba(255, 255, 255, 0.2); }

.feedback {
  width: 100%;
  height: 32.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .feedback > iframe {
    position: absolute; }
  .feedback__form {
    z-index: 999;
    width: 26.9rem;
    height: 26.9rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem;
    box-sizing: border-box; }
    @media screen and (max-width: 780px) {
      .feedback__form {
        width: 90%;
        border-radius: 10px; } }
    .feedback__form-inp {
      width: 17.2rem;
      height: 1.93rem;
      padding-left: .6rem;
      border: 1px solid #d8d8d8;
      margin-bottom: 1rem;
      box-sizing: border-box;
      outline: none; }
    .feedback__form-area {
      width: 17.2rem;
      border: 1px solid #d8d8d8;
      resize: none;
      height: 5rem;
      padding: .6rem;
      box-sizing: border-box;
      outline: none;
      margin-bottom: 2rem; }
    .feedback__form-btn {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      outline: none;
      border: none;
      background-image: url("../images/submit.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      cursor: pointer; }

.footer {
  background: #00d089;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: white;
  width: 100%; }
