* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.header {
  width: 100%;
  background-color: #4c98a4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px; }
  .header-content {
    height: 100%;
    width: 1024px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 1024px) {
      .header-content {
        width: 100%; } }
    @media screen and (max-width: 780px) {
      .header-content {
        flex-direction: row-reverse;
        padding: 0 11px; } }
    @media screen and (max-width: 320px) {
      .header-content {
        padding: 0 100px; } }
    .header-content-links {
      width: 463px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media screen and (max-width: 780px) {
        .header-content-links {
          display: none; } }
      .header-content-links .header-item {
        margin: 0;
        font-size: 18px;
        color: #dce3e4;
        text-transform: uppercase;
        line-height: 1.3;
        transition: all .3s;
        cursor: pointer; }
        .header-content-links .header-item:hover {
          color: white; }

.banner {
  width: 100%;
  height: 475px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  position: relative; }
  .banner-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
    color: white;
    line-height: 1.318;
    text-align: center;
    color: #e4e4e4;
    margin: 0;
    margin-bottom: 42px; }
  .banner-button {
    border: none;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 255, 255, 0.059);
    color: #e4e4e4;
    font-size: 30px;
    text-align: center;
    border: 3px solid #afb1b4;
    border-radius: 3px;
    padding: 11px 40px;
    transition: .4s; }
    .banner-button:hover, .banner-button:focus {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.2); }
  .banner .dots {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 2.5rem); }
    .banner .dots__item {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background: white;
      cursor: pointer; }
      .banner .dots__item_active {
        background: #69728c; }

.things {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5.25rem 8px 5rem; }
  .things__title {
    margin: 0;
    font-size: 30px;
    color: #4c505d;
    line-height: 1.633;
    margin-bottom: 2.44rem;
    text-align: center; }
  .things__text {
    margin: 0;
    font-size: 14px;
    color: #4c505d;
    line-height: 1.571;
    margin-bottom: 4.44rem;
    text-align: center; }
  .things__icons {
    width: 25.94rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 420px) {
      .things__icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around; } }

.about {
  width: 100%;
  background: #00d089;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5.87rem 8px; }
  .about__text {
    margin: 0;
    font-size: 18px;
    color: white;
    line-height: 1.778;
    width: 56.25rem; }
    @media screen and (max-width: 920px) {
      .about__text {
        width: 100%; } }

.card {
  width: 17.87rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3.75rem; }
  .card__name {
    text-transform: uppercase;
    font-size: 1.63rem;
    color: white;
    padding-top: .8rem;
    font-weight: bold;
    position: relative; }
    .card__name::after {
      content: "\201D";
      position: absolute;
      top: -1.2rem;
      left: -1rem;
      font-size: 17rem;
      color: rgba(255, 255, 255, 0.2); }

.feedback {
  width: 100%;
  height: 32.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .feedback > iframe {
    position: absolute; }
  .feedback__form {
    z-index: 2;
    width: 26.9rem;
    height: 26.9rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem; }
    @media screen and (max-width: 780px) {
      .feedback__form {
        width: 90%;
        border-radius: 10px; } }
    .feedback__form-inp {
      width: 17.2rem;
      height: 1.93rem;
      font-size: 16px;
      padding-left: .6rem;
      border: 1px solid #d8d8d8;
      margin-bottom: 1rem;
      outline: none; }
    .feedback__form-area {
      width: 17.2rem;
      font-size: 16px;
      border: 1px solid #d8d8d8;
      resize: none;
      height: 5rem;
      padding: .6rem;
      outline: none;
      margin-bottom: 2rem; }
    .feedback__form-btn {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      outline: none;
      border: none;
      background-image: url("../images/submit.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      cursor: pointer; }

footer {
  background: #00d089;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: white;
  width: 100%; }
