@import './colors.scss';

@mixin fontOptions($size, $color: white) {
    font-size: $size;
    color: $color;
}

@mixin flexible($horizontal: center, $vertical: center) {
    display: flex;
    align-items: $vertical;
    justify-content: $horizontal;
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    background-color: $header-color;
    @include flexible();
    padding: 24px 16px;

    &-content {
        height: 100%;
        width: 1024px;
        color: $text-color;
        @include flexible(space-between);

        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        @media screen and (max-width: 780px) {
            flex-direction: row-reverse;
            padding: 0 11px;
        }

        @media screen and (max-width: 320px) {
            padding: 0 100px;
        }

        &-links {
            width: 463px;
            @include flexible(space-between);

            @media screen and (max-width: 780px) {
                display: none;
            }

            .header-item {
                margin: 0;
                font-size: 18px;
                color: rgb(220, 227, 228);
                text-transform: uppercase;
                line-height: 1.3;
                transition: all .3s;
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

.banner {
    width: 100%;
    height: 475px;
    @include flexible();
    color: $text-color;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    position: relative;      

    &-title {
        text-transform: uppercase;
        font-weight: bold;
        @include fontOptions(44px);
        line-height: 1.318;
        text-align: center;
        color: rgb(228, 228, 228);
        margin: 0;
        margin-bottom: 42px;
    } 

    &-button {
        border: none;
        font-family: 'Helvetica Neue', sans-serif;
        background-color: rgba(255, 255, 255, 0.059);
        color: rgb(228, 228, 228);
        font-size: 30px;
        text-align: center;
        border: 3px solid rgb(175, 177, 180);
        border-radius: 3px;
        padding: 11px 40px;
        transition: .4s;

        &:hover, &:focus {
            cursor: pointer;
            background-color: rgba(255, 255, 255, .2);
        }
    }

    .dots {
        width: 5rem;
        @include flexible(space-between);
        position: absolute;
        bottom: 2rem;
        left: calc(50% - 2.5rem);

        &__item {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background: white;
            cursor: pointer;

            &_active {
                background: #69728c;
            }
        }
    }
}

.things {
    @include flexible();
    flex-direction: column;
    padding: 5.25rem 8px 5rem;

    &__title {
        margin: 0;
        font-size: 30px;
        color: rgb(76, 80, 93);
        line-height: 1.633;
        margin-bottom: 2.44rem;
        text-align: center;
    }

    &__text {
        margin: 0;
        font-size: 14px;
        color: rgb(76, 80, 93);
        line-height: 1.571;
        margin-bottom: 4.44rem;
        text-align: center;
    }

    &__icons {
        width: 25.94rem;
        @include flexible(space-between);

        @media screen and (max-width: 420px) {
            width: 100%;
            @include flexible(space-around)
        }
    }
}

.about {
    width: 100%;
    background: $green;
    @include flexible();
    flex-direction: column;
    padding: 5.87rem 8px;

    &__text {
        margin: 0;
        font-size: 18px;
        color: white;
        line-height: 1.778;
        width: 56.25rem;

        @media screen and (max-width: 920px) {
            width: 100%;
        }
    }
}

.card {
    width: 17.87rem;
    @include flexible(space-between, flex-start);
    margin-bottom: 3.75rem;

    &__name {
        text-transform: uppercase;
        @include fontOptions(1.63rem);
        padding-top: .8rem;
        font-weight: bold;
        position: relative;

        &::after {
            content: "\201D";
            position: absolute;
            top: -1.2rem;
            left: -1rem;
            @include fontOptions(17rem, rgba(255, 255, 255, .2));
        }
    }
}

.feedback {
    width: 100%;
    height: 32.4rem;
    @include flexible();
    position: relative;

    & > iframe {
        position: absolute;
    }

    &__form {
        z-index: 2;
        width: 26.9rem;
        height: 26.9rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, .9);
        @include flexible();
        flex-direction: column;
        padding-top: 4rem;

        @media screen and (max-width: 780px) {
            width: 90%;
            border-radius: 10px;
        }

        &-inp {
            width: 17.2rem;
            height: 1.93rem;
            font-size: 16px;
            padding-left: .6rem;
            border: 1px solid #d8d8d8;
            margin-bottom: 1rem;
            outline: none;
        }

        &-area {
            width: 17.2rem;
            font-size: 16px;
            border: 1px solid #d8d8d8;
            resize: none;
            height: 5rem;
            padding: .6rem;
            outline: none;
            margin-bottom: 2rem;
        }

        &-btn {
            width: 4.2rem;
            height: 4.2rem;
            border-radius: 50%;
            outline: none;
            border: none;
            background-image: url('../images/submit.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

footer {
    background: $green;
    height: 2.5rem;
    @include flexible();
    text-transform: uppercase;
    @include fontOptions(.7rem);
    width: 100%;
}